<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/app.log"
                     filePattern="logs/app-%d{MM-dd-yyyy}.log.gz">
            <ThresholdFilter level="warn" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="ACCEPT"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="ru.spbau.mit.LogTest" level="all" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console" level="error"/>
        </Logger>
        <Root level="all">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>